/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-weight: 600;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    z-index: 1;
}

main {
    margin: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-block {
    display: block;
}

.d-hidden {
    display: none;
}

.content:hover .d-block {
    display: none;
}

.content:hover .d-hidden {
    display: block;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* LAYOUT CLASSES */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col-33 {
    width: calc(100% / 3);
}

/* ELEMENTS' STYLE */
/* Padding area */
.p-20 {
    padding: 20px;
}

.p-20 {
    padding: 20px;
}

/* Background area */
.bg-orange {
    background-color: #FF6900;
}

.bg-dark {
    background-color: #1A1A1A;
}

.red-label {
    background-color: #FF0000;
}

.green-label {
    background-color: #008000;
}

.bg-white {
    background-color: #fff;
}

/* Other styles */
.shadow {
    box-shadow: 1px 2px 5px #808080;
}

li {
    display: inline-block;
}

[href] {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

#logo {
    width: 120px;
}

i {
    cursor: pointer;
}

.model-images {
    margin: 7px;
    position: relative;
}

.model-images>img {
    width: 100%;
}

.labels {
    position: absolute;
    bottom: 80px;
    left: 0;
}

.label {
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    text-align: center;
    font-size: 10px;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 6px 13px;
    font-size: 25px;
    cursor: pointer;
}

.heart:hover {
    color: #FF0000;
}

p {
    font-size: 12px;
    font-weight: 500;
}

.caption {
    margin-top: 5px;
}

.caption>h2 {
    text-transform: uppercase;
    font-size: 15px;
}

h3 {
    color: #ff0000;
    font-size: 14px;
}

h4 {
    color: #fff;
    font-size: 13px;
}

span {
    text-decoration: line-through;
    font-weight: 500;
    color: #000000;
}

.info-color>h3 {
    color: #fff;
    font-size: 16px;
}

.info-color i {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-right: 5px;
}

.info-color a {
    font-weight: 400;
    font-size: 12px;
}

.info-color a, .info-color i {
    line-height: 40px;
}