/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    font-weight: 600;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
}

main {
    margin: 100px;
    border: 2px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

/* LAYOUT CLASSES */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 600px;
}

.col-33 {
    width: calc(100% / 3);
}

/* ELEMENTS' STYLE */
/* Padding and margin area */
.p-20 {
    padding: 20px;
}

/* Background area */
.bg-orange {
    background-color: #FF6900;
}

/* Other styles */
.shadow {
    box-shadow: 1px 2px 5px #808080;
}

li {
    display: inline-block;
}

[href] {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}

.col-33 img {
    width: 150px;
}

i {
    cursor: pointer;
}

.model-images {
    border: 1px solid black;
    height: 250px;
}

.model-images>img {
    max-width: 100%;
}